<div id="jadwals" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16">
                    list
                </mat-icon>
                <span class="logo-text h1">
                    Jadwal masuk
                </span>
            </div>
            <!-- / APP TITLE -->

            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center" *ngIf="auth.level== 1">
                <mat-form-field appearance="outline" class="category-selector" *ngIf="auth.level==1">
                    <mat-label>Pilih Cabang</mat-label>
                    <mat-select [(ngModel)]="Capdis.pilih" (selectionChange)="onChange($event.value)">
                        <mat-option [value]="'null'">
                            Pilih Cabang
                        </mat-option>
                        <mat-option *ngFor=" let item of cabang" [value]="item.id">
                            {{item.nama}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="createJadwal()">
                <span>Tambah Jadwal </span>
            </button>
            <!-- / ADD BUTTON -->
        </div>
        <!-- / HEADER -->

        <!-- <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">
          <mat-chip-list [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" style="padding-bottom: 10px;">
              <mat-chip (click)="sadmin()">Super Admin</mat-chip>
              <mat-chip (click)="admin()">Admin</mat-chip>
              <mat-chip (click)="pengguna()">Pengguna</mat-chip>
          </mat-chip-list>
      </div> -->
        <!-- [(ngModel)]="Kota" (selectionChange)="onChange($event.value)" -->
        <div class="content-card">
            <div class="pl-24 pr-24 pt-18 pb-10 mb-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between start">
                <!-- SEARCH -->
                <div class="search-wrapper mx-32 mx-md-0" style="margin-top:34px !important">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon style="color: #707070;">search</mat-icon>
                        <input (keyup)="applyFilter($event.target.value)" placeholder="Cari Data"
                            style="color: #707070;">
                    </div>
                </div>
                <!-- / SEARCH -->

                <!-- <div class="logo " fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field appearance="outline" class="category-selector" style="margin-top: 15px;">
                      <mat-label>Tampilkan Berdasarkan Bulan</mat-label>
                      <mat-select [(ngModel)]="bulan" (selectionChange)="onChange($event.value)">
                          <mat-option [value]="'null'">
                              Pilih Bulan
                          </mat-option>
                          <mat-option *ngFor=" let item of listMonth" [value]="item">
                              {{item}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div> -->
            </div>

            <mat-table #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
                <ng-container matColumnDef="no">
                    <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index;">
                        <p class="text-truncate">{{i+1}}</p>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="hari">
                    <mat-header-cell *matHeaderCellDef>Hari</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.namaHari}}</p>
                    </mat-cell>
                </ng-container> -->

                <!-- ID Column -->
                <ng-container matColumnDef="keterangan">
                    <mat-header-cell *matHeaderCellDef>Keterangan</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.keterangan}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Name Column -->

                <!-- Category Column -->
                <!-- <ng-container matColumnDef="cabang">
                    <mat-header-cell *matHeaderCellDef>Cabang</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.namaCabang}}</p>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="statusabsen">
                    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.statusAbsen}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="harikerja">
                    <mat-header-cell *matHeaderCellDef>Jlh. Hari Kerja</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.jlhHari}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="jamkerja">
                    <mat-header-cell *matHeaderCellDef>Jam Kerja (menit)</mat-header-cell>
                    <mat-cell *matCellDef="let element" >
                        <p class="text-truncate" *ngIf="element.statusAbsen !=='Regular'">{{element.kerjaSatu}} | {{element.kerjaDua}} | {{element.kerjaTiga}} menit</p>
                        <p class="text-truncate" *ngIf="element.statusAbsen ==='Regular'">{{element.jamKerja}} menit</p>
                    </mat-cell>
                 
                </ng-container>

                <ng-container matColumnDef="bolehabsen">
                    <mat-header-cell *matHeaderCellDef>Absen diperbolehkan (menit)</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.bolehMasuk}}</p>
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="shift_tiga">
                    <mat-header-cell *matHeaderCellDef>Shift 3</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.shiftTiga}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="bolehabsen">
                    <mat-header-cell *matHeaderCellDef>Asbsen dimulai (menit)</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.absenDimulai}}</p>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="toleransi">
                    <mat-header-cell *matHeaderCellDef>Toleransi (menit)</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <p class="text-truncate">{{element.toleransi}}</p>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row (click)="getRow(element)" *matRowDef="let element;columns: displayedColumns;" class="product"
                    matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>

            </mat-table>
            <!-- [length]="dataSource.filteredData.length" -->
            <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>